doctype html
html(lang='en')
  head
    title= pageTitle
    script(src='/assets/main.js')
    //- link(rel='stylesheet' type='text/css' href='/assets/style.css')
  body
    nav.navbar.sticky-top.navbar-expand-lg.navbar-dark(style='background-color: #9d76ba')
      a.navbar-brand(href='/') Task Manager
    main.container
      block content
