doctype html
html(lang='en')
  head
    title= pageTitle
    script(src='/assets/main.js')
  body
    nav.navbar.sticky-top.navbar-expand-lg.navbar-dark(style='background-color: #9d76ba')
      a.navbar-brand(href='/') Task Manager
    main.container
      block content
