doctype html
html
  head
    title My website :3
  body  
    h1 This is my website!!!
    hr
    p
      a(href='/pine-forest.jpg' title='Pine forest')
        img(src='/pine-forest.jpg' height=300 alt='Pine forest')
