extends /layouts/application.pug

block content
  .card.bg-light.shadow-sm.d-flex.mt-3
    .card-header
      h3.text-center= `Edit "${task.name}" task`
    .card-body
      +formFor({ url: urlFor('editTask', task.id), method: 'put' })
        +input('name', 'Name', { autofocus: true, required: true })
        +select('statusId', 'Status', {
          defaultOpt: currentStatus,
          values: statuses,
        })
        +select('assigneeId', 'Assign To', {
          values: users,
          defaultOpt: currentAssignee,
        })
        +input('description', 'Description', { textarea: true, rows: 5 })
        button.btn.btn-outline-success.btn-lg.col-6.m-2(type='submit') Save
        a.btn.btn-outline-danger.btn-lg.col-5.m-2(href=urlFor('task', task.id)) Cancel
