extends /layouts/card.pug

block header
  h1.text-center New Task
block cardContent
  +formFor({ url: urlFor('tasks'), method: 'post' })
    +input('name', 'Name', { autofocus: true, required: true })
    +select('statusId', 'Status', {
      defaultOpt: defaultStatus,
      values: statuses,
    })
    +select('assigneeId', 'Assign To', {
      values: users,
      required: true,
    })
    +input('description', 'Description', { textarea: true, rows: 5 })
    +input('tags', 'Input tags separated by comma')
    button.btn.btn-outline-success.btn-lg.col-6.m-2(type='submit') Save
    a.btn.btn-outline-danger.btn-lg.col-5.m-2(href=urlFor('root')) Cancel
    
