extends /layouts/card.pug

block header
  h1.text-center= `Delete "${status.name}"`
block cardContent
  .text-center
    if (deletable)
      h4 Are you sure?
      a.btn.btn-outline-success.btn-lg.m-2(href=urlFor('deleteStatus', status.id) data-method='delete' rel='nofollow') Yes, delete
    else
      h4 You can't delete this tag.
      .text-left It's being used by these tasks:
      each task in taskWithThisStatus
        .text-left
          a(href=urlFor('task', task.id))= task.name  
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('statuses')) Cancel
