extends /layouts/application.pug

block content
  table.table.table-striped.table-hover
    caption List of statuses
    thead
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col')
    tbody
      - let counter = 0
      each status in statuses
        - counter += 1
        tr
          th(scope='row')= counter
          td= status.name
          td.text-right 
            if isSignedIn()
              a.mr-2(href=urlFor('statuses#edit', status.id)) rename    
              a.text-danger(href=urlFor('statuses#destroy', status.id)) delete
