extends /layouts/application.pug

block content
  table.table.table-striped.table-hover
    caption List of users
    thead
      tr
        th(scope='col') #
        th(scope='col') Full name
        th(scope='col') Email
    tbody
      - let counter = 0
      each user in users
        - counter += 1
        tr
          th(scope='row')= counter
          td
            a(href=urlFor('user', user.id))= user.fullName
          td= user.email
