extends /layouts/userCard.pug

block cardContent
  +formFor({ url: urlFor('changePassword'), method: 'put' })
    +input('password', 'Current password', { autofocus: true, type: 'password', required: true })
    +input('newPassword', 'New password', { type: 'password', required: true })
    +input('repeatedNewPassword', 'Repeat new password', { type: 'password', required: true })

    button.btn.btn-success.btn-lg.m-2(type='submit') Save
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('userPage')) Cancel


  //- form(action=urlFor('changePassword') method='post' rel='nofollow')
  //-   input(name='_method' type='hidden' value='put')
  //-   table.table.table-borderless.table-sm
  //-     tbody
  //-       tr
  //-         th(scope='row' style='width: 10%') Password:
  //-         td
  //-           input.form-control(type='password' name='oldPassword')
  //-       tr
  //-         th(scope='row') New password:
  //-         td
  //-           input.form-control(type='password' name='newPassword')
  //-   button.btn.btn-success.btn-lg.m-2(type='submit') Save
  //-   a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('userPage')) Cancel
